h1 {
    text-align: center;
    color: maroon;
    text-decoration:underline;
}

body {
    background-color: grey;
}

h3 {text-align: center;
color: beige;

}


    a{ color: beige;
        text-decoration: none;
        }

