h1 {
    text-align: center;
    color: maroon;
    text-decoration:underline;
}

body {
    background-color: grey;
}

h3 {text-align: center;
color: beige;

}


    a{ color: beige;
        text-decoration: none;
        display: inline;
        }

        img {
width: 50px;

        }
/* Style for the overall teams container */
/* Style for the overall teams container */
.teams {
    background-color: #53607d;
    width: 250px; /* Adjust as needed */
    border: 1px solid #000; /* Add thickness and color to border */
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the flex container */
    margin-left: auto;
}

/* Style for each team item */
.team-item {
    margin-bottom: 25px; /* Adds space between each team item */
}

/* Style for each link containing the team name and image */
.team-link {
    display: flex; /* Align items horizontally */
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Space between text and image */
    text-decoration: none; /* Removes underline from links */
    color: #fff; /* Set the text color */
}

/* Style for images within team links */
.team-link img {
    margin-left: 10px; /* Adds space between the text and image */
    width: 40px; /* Adjust size as needed */
    height: auto; /* Maintains aspect ratio */
 
}

/* Style for team names within team links */
.team-link h3 {
    margin: 0; /* Removes default margin around the header */
}


.sec {
    align-items: flex-start;
}

.title
{
    color: beige;
    text-align: center;
    font-size: x-large;
}

.navbar {
    list-style: none;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: flex-start; /* Align items to the right */
    gap: 75px; /* Adds space between the links */
    padding: 0; /* Removes any default padding */
    margin: 0; /* Removes any default margin */
}

.navbar {
    padding: 10px 15px;
}

.seclogo {
    padding-top: 10px;
    transform: scale(2); /* Scales the element to 50% of its original size */
}
